<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<p>Connect</p>
<script>
    document.querySelector("p").addEventListener("click", (ev) => {
        ev.preventDefault()
        window.location = "https://discord.com/oauth2/authorize?client_id=949326450371198997&scope=identify+email+connections&response_type=code&redirect_uri=http%3A%2F%2Flocalhost%3A3000%2Fredirect"
    })
    </script>
</body>
</html>